{{ define "main" }}

<main>
  <h1>About</h1>
  
  <p>I helped build <a href="https://airbyte.com">Airbyte</a>, an open-source data integration engine that helps you consolidate your data in your data warehouses, lakes, and databases.</p>
  <p>Before that, I was building massive data pipelines at <a href="https://liveramp.com/">LiveRamp</a> for five years, where I was the tech lead responsible for a PB-scale device graph.</p>
  <p>I've worked throughout the distributed system stack: Java, Hadoop, Cascading, Thrift RPC services, Docker, Kubernetes, Consul, ZooKeeper, KV Stores, streaming systems, and build tooling. I also have experience hiring, mentoring, and setting technical direction.</p>
  <p>I'm currently working on some new projects: <a href="https://www.mealbymeal.com/">LiveRamp</a> and <a href="https://presetbot.com/">PresetBot</a>.</p>
  <p>Feel free to get in touch with me at <a href="mailto:me@jaredrhizor.com">me@jaredrhizor.com</a>.</p>
</main>
{{ end }}
