{{ define "main" }}
<main>
  <p>I'm currently a founding engineer at <a href="https://dataline.com">Dataline</a>, simplifying the operational complexity of exchanging data.</p>
  <p>Before that, I was building massive data pipelines at <a href="https://liveramp.com/">LiveRamp</a> for five years, where I was the tech lead responsible for a PB-scale device graph.</p>
  <p>I've worked throughout the distributed system stack: Java, Hadoop, Cascading, Thrift RPC services, Docker, Kubernetes, Consul, ZooKeeper, KV Stores, streaming systems, and build tooling. I also have experience hiring, mentoring, and setting technical direction.</p>
  <p>Feel free to get in touch with me at <a href="mailto:me@jaredrhizor.com">me@jaredrhizor.com</a>.</p>
  <p>LinkedIn: <a href="https://linkedin.com/in/jrhizor">linkedin.com/in/jrhizor</a><br>GitHub: <a href="https://github.com/jrhizor">github.com/jrhizor</a></p>
</main>
{{ end }}
