{{ define "main" }}

<main>
  <h1>About</h1>

  <p>I'm the founder of <a href="https://www.bluewhale.dev/">Blue Whale Software</a> and working on a variety of <a href="/projects">projects</a>.</p>
  
  <p>Previously, I was a tech lead at <a href="https://liveramp.com/">LiveRamp</a> (scaling a multi-petabyte device graph for adtech) and a founding engineer at <a href="https://airbyte.com">Airbyte</a> (building an open-source data integration platform used by thousands of companies).</p>

  <p>You can reach me at <a href="mailto:me@jaredrhizor.com">me@jaredrhizor.com</a>.</p>
</main>
{{ end }}
