---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a href={href} class:list={[className, "text-purple-800 fill-purple-800/20 hover:fill-purple-800/40", { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		font-size: 1em;
		padding: 0.25em;
		display: inline-block;
		text-decoration: none;
	}
	a.active {
		font-weight: bolder;
		background: #8256bf26;
	}
	a:hover {
		background: #8256bf26;
	}
</style>
