<title>Jared Rhizor</title>

<link rel="icon" type="image/png" href="/favicon.png">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora|Share+Tech+Mono&display=swap"> 
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&amp;family=Source+Code+Pro:wght@300;400&amp;display=swap" rel="stylesheet"/>
<link rel="stylesheet" href="{{ "css/main.css" | relURL}}">
<link rel="stylesheet" href="//unpkg.com/bootstrap@4.1.0/dist/css/bootstrap-grid.min.css">
<link rel="alternate" type="application/rss+xml" title="Jared Rhizor's RSS Feed" href="/posts/index.xml">
<meta name="viewport" content="width=572">
<meta name="description" content="Jared Rhizor builds software. This is his personal website and blog.">
